.seemless-click {
    text-decoration: none;
    color: inherit;
}

.cover-img {
    height: 200px;
    object-fit: cover;
}

header.masthead {
    height: calc(100vh - 56px);
    background: url(/assets/hero.jpg) no-repeat center center;
}

header.masthead:before {
    content: "";
    position: absolute;
    background-color: #1c375e;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.6;
}

.navbar {
    z-index: 100;
}

body {
    background-color: #23334a;
    color: white;
}

main {
    min-height: calc(100vh - 144px);
}

.card {
    color: black;
}

.breadcrumb-item a {
    color: white;
    text-decoration: none;
}

.breadcrumb-item::before {
    color: white!important;
}

.region-link {
    background-color: white;
    padding: 2px 7px;
    border-radius: 6px;
    color: black;
    text-decoration: none;
    white-space: nowrap;
}

.region-link:hover {
    color: white;
    background-color: grey;
}

.home-title {
    font-family: monospace;
}